
body
{   
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

header 
{
    background-color: greenyellow;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo
{
    margin: 0;
    border: 5px solid green;
    border-radius: 10px;
}

h1
{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;

}

p
{
    color: aliceblue;
    text-align: justify;
    margin: 5px;
    margin-right: 5px;
}
nav
{
    background-color: rgb(28, 42, 4);
    text-align: center;
    padding: 10px;
}

nav a
{
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 10px;
    display: inline-block;
}

nav a:hover
{
    background-color: rgb(0, 0, 0);
}

.active
{
    border: 2px dashed white;
    background-color: rgb(102, 56, 25);
}

.Horses
{
    display: block; 
    margin: 0 auto;     
    border: 5px solid orange;
    margin-bottom: 20px;
}

h2
{
    font-family: 'Courier New', Courier, monospace;
    color: orange;
    margin-left: 10px;
}

.Animals 
{
    display: block;           
    margin: 2px auto;       
    border: 5px solid white; 
}

.Animals:last-child 
{
    margin-bottom: 43px;
}

.Hens
{
    border: 5px solid white;
    margin-bottom: 43px;
}

footer
{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgb(28, 42, 4);
    padding: 6px;
    display: flex;         
    justify-content: center; 
    align-items: center; 
}

.PlayfulLambs
{
    display: block;           
    border: 4px dashed white;
    float: left;
    margin: 10px;
}

.PlayfulLambsPar
{
    margin: 0;
    padding-right: 10px;
    margin-top: 30%;
}

.TiredLambs
{
    display: block;           
    border: 4px dashed white;
    float: right;
    margin-left: 10px;
    margin-bottom: 45px;
}


.TiredLambsPar
{
    margin: 0;
    margin-left: 10px;
    
}

.Calves
{
    display: block;
    border: 4px dashed white;
    float:inline-end;
    margin: 5px;
}

.CalfPar
{
    padding-right: 5px;
    margin-top: 33%;
    margin-bottom: 45px;
}


